* {
    box-sizing: border-box;
  }
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    padding: 1rem;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizelegibility;
  }
 

  /*START of Product List*/
  /* Fallback Layout */
  .productlist {
    max-width: 500px;
    margin: 0 auto;
  }
  .product {
    margin: 1rem 0;
  }
  
  /*Grid Layout Properties*/
  @supports (display: grid) {
    .productlist{ 
      max-width: 10000px;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1rem;
      
    }
    .product {
      margin: 0;
      transition: all 0.3s ease-in-out;
    }
  }
  
  /*Internal Properties*/
  .productlist {
    font-family: Avenir, Roboto, Helvetica, san-serif; 
    font-size: 85%;
  }
  
  @keyframes float {
      0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      100% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-5px);
      }
      /*100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }*/
  }
  
  .product {
    box-sizing: border-box;
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    display: flex;
    flex-flow: column;
    padding-bottom: 40px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
  }
  .product:hover{
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    
      transform: translateY(-3px);
    animation: float 0.5s linear;
    animation-fill-mode: forwards;
    border-radius: 3px;
  }
  
  h2 {
    height: auto;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
  }
  .inventory {
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 0rem;
  }
  .cost {
    color:#FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 1rem;
  }
  .image {
    order: -1;
    align-self: center;
  }
  img{
    max-width: 100%;
    height: auto;
    border-radius: 3px 3px 0 0;
    box-sizing:border-box;
    /*box-shadow: 0 2px 5px 1px rgba(0,0,0,0.4);*/
  }
  form{
    margin: auto; 
    color: white;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
  }
  
  input[type=number] {
    transition: all 0.3s ease-in-out;
    padding:5px 15px; 
    background-color: #dadada; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
    border: 2px solid #dadada;
    border-radius: 7px;
  }
  
  input[type=submit] {
    transition: all 0.3s ease-in-out;
    padding:5px 15px; 
    background:#dadada; 
    border: 2px solid #dadada;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
      
  }
  input[type=number]:hover {
    outline: none;
    border-color: #9ecaed;
    background-color:#9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
  
  input[type=submit]:hover {
    outline: none;
    color: var(--dark);
    background-color:#9ecaed;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }