<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>teams</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header>
    <h1>Home Page</h1>
    Hello <span  th:text="${session.user.name}">user</span>
</header>

	<div>
		<ul>
			<li th:each="team : ${teams}">
				<div>
					<a th:href="'teams/' + ${team.id}" th:text="${team.name}" /> <label
						th:text="${team.description}"></label><br>
				</div>
			</li>
		</ul>
	</div>
	<a class="btn btn-primary" href="/teams?add">Inserisci team</a>
	<a class="btn btn-dark" href="/user">Profile</a>

</body>
</html>